.post_detail_container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.post_detail_content{
    // background-color: #ccc;
    width: 50%;
    min-height: 100vh;
}
.slider_img{
    margin-top: 10px;
}