.page_container {
  position: relative;
  max-width: 100vw;
  overflow: hidden;
}
.map_container {
  height: calc(100vh);
  width: 100vw;
}
:global(.leaflet-control-zoom-in),
:global(.leaflet-control-zoom-out) {
  display: none !important;
}
:global(.pin) {
  background: var(--accent2);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  transform: rotate(45deg);
}
:global(.icon_marker) {
  font-size: 20px;
  color: var(--accent2);
  transform: rotate(-45deg);
  padding: 3px;
  background-color: #fff;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}
// --------- SIDEBAR phải ---------
.right_sidebar {
  position: absolute;
  width: 300px;
  height: calc(100vh - 100px);
  top: 100px;
  right: -300px;
  background: #6497c2db;
  z-index: 999;
  padding-top: 0;
  transition: 0.3s ease-in-out;

  &.show {
    transition: 0.3s ease-in;
    right: 0;
  }
}
.map_title {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  background: var(--accent2);
  position: relative;
}
.close_map_filter {
  position: absolute;
  right: 5px;
  top: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
  }
}
.item_map {
  width: 90%;
  margin: 0 auto;
  aspect-ratio: 1.6;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;

  &.active .overlay_map_item {
    display: none;
  }
}
.overlay_map_item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000070;
  border-radius: 10px;
  z-index: 10;
  display: block;
}
.img_map {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.tag_map {
  position: absolute;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 500;
  background-color: #fff;
  bottom: 10px;
  left: 10px;
  border-radius: 5px;
}
// --------- SIDEBAR trái ---------
.left_sidebar {
  position: absolute;
  height: calc(100vh - 100px);
  top: 100px;
  left: 0;
  //   width: 450px;
  //   background: #009ba1b3;
  z-index: 999;
}
.quick_nav {
  position: absolute;
  width: 70px;
  background-color: var(--accent2);
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  border-right: 1px solid #fff;
}
/* Customize react-tooltip */
:global(.react-tooltip) {
  background-color: var(--accent1) !important;
  color: #fff !important;
  font-size: 14px !important;
  font-weight: 500;
  padding: 10px 15px !important;
  border-radius: 4px !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2) !important;

  &.place-top::after {
    border-top-color: var(--accent1) !important; // arrow màu tooltip
  }
}
.list_post_container {
  position: absolute;
  width: 450px;
  height: 100%;
  background-color: #355c7de8;
  top: 0;
  left: -380px;
  transition: 0.4s ease-in-out;

  &.show {
    transition: 0.4s ease-in;
    left: 70px;
  }
}
.wrap_icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #fff;
    transition: 0.2s;

    & > .icon_tooltip {
      color: var(--accent2);
      transform: scale(1.2);
      transition: 0.2s;
    }
  }
}

.icon_tooltip {
  font-size: 22px;
  color: #fff;
  transition: 0.2s;
}
// ------- CONTENT SIDEBAR LEFT ------
.list_post_title {
  padding: 15px 10px;
  font-size: 18px;
  background-color: var(--accent2);
  border-bottom: 1px solid #fff;
  font-weight: 500;
  text-align: center;
  color: #fff;
  position: relative;
}
.icon_close {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  transition: 0.2s ease-in;
  width: 30px;
  cursor: pointer;

  &:hover {
    transition: 0.2s ease-in;
    transform: translateY(-50%) scale(1.2);
  }
}
// ------- FILTER SECTION --------
.list_post_filter {
  border-bottom: 1px solid #fff;
}
.show_filter {
  width: 150px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  background: var(--primary2);
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  position: relative;
}
.icon_reload {
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
  font-size: 25px;
  cursor: pointer;
}
.popup_filter_container {
  position: absolute;
  top: 105%;
  left: 0;
  background-color: #fff;
  border-radius: 7px;
  min-width: 300px;
  padding: 20px;
  color: #000;
}
