/* deposit.module.scss */

.deposit_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); // nền mờ
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;

  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
}

.deposit_form {
  width: 400px;
  // aspect-ratio: 1.5;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
.deposit_title {
  font-size: 24px;
  font-weight: 500;
}
.deposit_info_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 3px #ccc;
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 13px;
}
.deposit_method {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.method_item {
  width: 45%;
  background: var(--accent1);
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  padding-right: 20px;

  &.paypal {
    cursor: pointer;
  }

  &.qrcode {
    position: relative;
    background-color: #ccc;
  }

  &:hover > .overlay_qr {
    display: flex;
    transition: 0.2s ease-in;
  }
}
.overlay_qr {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0000008e;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  transition: 0.2s ease-in;
  border-radius: 5px;
  font-size: 14px;

  &:hover {
    display: flex !important;
  }
}
// -----
.deposit_content {
  background: #fff;
  border-radius: 16px;
  padding: 32px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  position: relative;
  transform: translateY(-20px);
  animation: slideUp 0.3s ease forwards;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sub_title {
  font-size: 14px;
  margin-top: 20px;
  font-weight: 500;
}

.deposit_process {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.deposit_input {
  font-size: 11px;
  width: 70%;
  border-radius: 3px;
  padding: 7px;
  border: 1px solid #eeeeee;
}
.deposit_money {
  font-weight: 500;
}
.deposit_btn {
  padding: 7px;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;
  background: var(--primary2);
  color: #fff;
  font-weight: 500;
  width: 25%;
  cursor: pointer;
}
.close_btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #666;
  transition: color 0.2s;

  &:hover {
    color: #000;
  }
}

.spiner_loading {
  position: relative;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000a3;
  border-radius: 5px;
}

/* Animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}
.title_payment{
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}