.wrapper_header {
  height: 100px;
  width: 100%;
  background-color: var(--primary1);
  padding-left: 30px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  height: 100%;
  cursor: pointer;
}
.logo_img {
  height: 100%;
}

// --------------------------------------- MENU ----------------------------------------------
.menu {
  display: flex;
  height: 100%;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.menu_item {
  position: relative;
  display: inline-block;

  /* tạo vùng đệm hover */
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 10px; /* khoảng cách menu */
  }

  &:hover > .dropdown_menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  &:hover > .menu_item_btn {
    background-color: #fff;
    color: var(--primary1);
  }
}

.menu_item_btn {
  background-color: var(--primary1);
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 3px;
}

.dropdown_menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: var(--shadow-light);
  z-index: 1000;
  width: 250px;
  transform: translateY(5px);
  transition: all 0.2s ease-in-out;
}

.dropdown_menu_item {
  font-size: 13px;
  font-weight: 500;
  padding: 10px 20px;
  box-shadow: 0 1px 2px #ccc;
  cursor: pointer;

  &:hover {
    background-color: var(--hover-light);
  }
}

.wrapper_user {
  margin-left: auto;
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.auth_buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}
.first_btn {
  border-right: 2px solid #fff !important;
}
.line {
  width: 2px;
  height: 30px;
  background-color: #fff;
}
.avatar {
  width: 55px;
  height: 55px;
  border: 1px solid #fff;
  padding: 5px;
  margin-right: 40px;
  border-radius: 50%;
  cursor: pointer;
}


.btn_login, .btn_register{
  transition: 0.2s ease-in;
  font-weight: 400;

  &:hover{
    background-color: #fff !important;
    color: var(--primary1) !important;
    transition: 0.2s ease-in-out;
  }
}
.btn_post{
  transition: 0.2s ease-in;
  font-weight: 400;

  &:hover{
    background-color: #9d7f4d !important;
    color: #fff !important;
    transition: 0.2s ease-in-out;
    box-shadow: 0 1px   4px #fff;
  }
}