.wrapper_header {
  height: 100px;
  width: 100%;
  background: var(--primary1);
  padding-left: 30px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  height: 100%;
  cursor: pointer;
}
.logo_img {
  height: 100%;
}

// --------------------------------------- MENU ----------------------------------------------
.menu {
  display: flex;
  height: 100%;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.menu_item {
  position: relative;
  display: inline-block;

  /* tạo vùng đệm hover */
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 10px; /* khoảng cách menu */
  }

  &:hover > .dropdown_menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  &:hover > .menu_item_btn {
    background-color: #fff;
    color: var(--primary1);
  }

  &.active > .menu_item_btn {
    background-color: #fff;
    color: var(--primary1);
  }
}

.menu_item_btn {
  background-color: var(--primary1);
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 3px;
}

.dropdown_menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: var(--shadow-light);
  z-index: 1000;
  width: 250px;
  transform: translateY(5px);
  transition: all 0.2s ease-in-out;
}

.dropdown_menu_item {
  font-size: 13px;
  font-weight: 500;
  padding: 10px 20px;
  box-shadow: 0 1px 2px #ccc;
  cursor: pointer;

  &:hover {
    background: var(--accent3);
  }
}

.wrapper_user {
  margin-left: auto;
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.auth_buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}
.first_btn {
  border-right: 2px solid #fff !important;
}
.line {
  width: 2px;
  height: 30px;
  background-color: #fff;
}
.wrapper_avatar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}
.notification {
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
}
.icon_notification {
  color: #fff;
  font-size: 30px;
}
.avatar {
  width: 55px;
  height: 55px;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.btn_login,
.btn_register {
  transition: 0.2s ease-in;
  font-weight: 400;

  &:hover {
    background-color: #fff !important;
    color: var(--primary1) !important;
    transition: 0.2s ease-in-out;
  }
}
.btn_post {
  transition: 0.2s ease-in;
  font-weight: 400;

  &:hover {
    background-color: #9d7f4d !important;
    color: #fff !important;
    transition: 0.2s ease-in-out;
    box-shadow: 0 1px 4px #fff;
  }
}
// Add avatar
.dropdown_avatar {
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 8px 0;
  padding-top: 20px;
  min-width: 180px;

  opacity: 0;
  transform: translateY(-10px); // trượt nhẹ lên trên
  visibility: hidden;
  transition: opacity 0.25s ease, transform 0.25s ease, visibility 0.25s;

  &.show {
    opacity: 1;
    transform: translateY(5px);
    visibility: visible;
  }
}

.dropdown_avatar_item {
  padding: 10px 16px;
  cursor: pointer;
  transition: background 0.2s ease;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  min-width: 220px;

  &:hover {
    background: var(--accent3);
  }
}
.break_line {
  height: 1px;
  width: 100%;
  background: #d8d8d8;
  margin-top: 5px;
  margin-bottom: 5px;
}
.icon_user_menu {
  font-size: 16px;
  color: #3f3f3f;
}

.icon_close_menu {
  position: absolute;
  top: 5px;
  font-size: 15px;
  right: 5px;
  color: #3f3f3f;

  transition: 0.15s ease-in;

  &:hover {
    transform: scale(1.1);
    transition: 0.15s ease-in;
  }

  cursor: pointer;
}
