.copy_clipboard {
  position: relative;
  cursor: pointer;
}

.copied_popup {
  position: absolute;
  bottom: 102%;
  right: 0;
  font-size: 12px;
  background-color: #414141a6;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  padding: 2px 5px;
  border-radius: 5px;
  transform: translateX(20%);
}
