.wrapper_btn_collapse{
    position: relative;
}

.collapse_icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.btn_collapse{
    width: 100%;
    height: 100%;
}
.collapse_icon {
    transition: transform 0.3s ease;
  }
  .collapse_icon.rotated {
    transform: rotate(180deg);
  }