.wrapper_new_post {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.left_content {
  width: 60%;
  background-image: linear-gradient(0deg, transparent 0%, #000 100%),
    url("../../assets/backgrounds/bg_newpost.jpg");
  background-position: 0 -200px;
  background-size: cover;
  background-repeat: no-repeat;
}
.right_content {
  flex: 1;
  position: relative;
}
.new_post_title {
  color: #fff;
  font-size: 30px;
  margin-left: 100px;
  margin-top: 30px;
  font-weight: 400;
}

// ------------------- STEP tạo tin đăng ---------------------------
.step_new_post {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.step {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  position: relative;
}
.step_num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #333;
  background-color: #fff;
  font-size: 23px;
  font-weight: 500;
}
.line_step {
  width: 100px;
  height: 7px;
  background-color: #fff;
}
.isStep1,
.isStep2,
.isStep3 {
  background-color: var(--primary2);
  color: #fff;
}
.info_step {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 214px;
  margin-top: 15px;
}
.info_step_item {
  color: #fff;
  font-size: 20px;
}
.info_step_item:nth-child(1) {
  margin-right: 90px;
}
.info_step_item:nth-child(2) {
  margin-right: 140px;
}

// --------------------------------- INFO CHUNG ---------------------------------
.box_info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 90%;
  background: #d9d9d9cc;
  border-radius: 20px;
  left: -20%;
  overflow-y: scroll;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info_option {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 20px 25px;
  position: relative;
}
.option_title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

.hover_item_strong {
  transition: 0.2s;
  box-sizing: border-box;
  &:hover {
    transition: 0.2s;
    box-shadow: 1px 2px 5px #333;
  }
}

.hover_item_light {
  transition: 0.2s;
  box-sizing: border-box;
  &:hover {
    transition: 0.2s;
    box-shadow: 1px 2px 5px #656464;
  }
}

// ---------------------------- Section: NEEDS ---------------------------------
.type_estate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.type_sell,
.type_rent {
  display: flex;
  align-items: center;
  width: 45%;
  gap: 30px;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s;
  box-sizing: border-box;
  &:hover {
    transition: 0.2s;
    box-shadow: 1px 2px 5px #333;
  }
}

.type_sell > img {
  width: 50px;
}
.type_rent > img {
  width: 50px;
}
.sell_title {
  font-size: 20px;
  font-weight: 500;
  color: var(--bgbutton3);
}
.sell_title.active {
  // background: white;
  color: white;
  font-weight: 600;
}
.type_rent.active {
  background: var(--bgbutton3);
}
.type_sell.active {
  background: var(--bgbutton3);
}
.child_adress {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.needs_tooltip {
  position: absolute;
  top: -10px;
  right: -10px;
  width: fit-content;
}
//-------------------------------- Part ADDRESS -------------------------

.address_part {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.address_option {
  position: relative;
}

.address_full {
  background: #fff;
  position: relative;
  color: #000;
  margin-top: 10px;
  padding: 12px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 7px;
  box-shadow: 0px 1px 2px #695f5f;
  margin-bottom: 15px;
}

.part_address {
  width: 30%;
  padding: 12px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 15px;
}
.address_tooltip {
  width: fit-content;
  position: absolute;
  top: -10px;
  right: -10px;
}
//-------------------------------- Part Thông tin chính -------------------------
.option_sub_title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}
.select_option {
  width: 100%;
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 7px;
  height: 50px;
}
.wrapper_sub_option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.sub_info_option {
  position: relative;
}
.sub_info_option > input {
  padding: 5px 10px;
  height: 50px;
  border-radius: 7px;
  font-size: 16px;
  width: 180px;
}
.sub_info_option > select {
  padding: 10px 10px;
  height: 50px;
  border-radius: 7px;
  font-size: 16px;
  width: 180px;
}
.m2 {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(25%);
  right: 10px;
  font-size: 16px;
  font-weight: 500;
}
.sub_info_option:nth-child(1) > input {
  padding-right: 35px;
}
.num_item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.num_item > input {
  width: 50px;
  height: 50px;
  border-radius: 7px;
  padding: 5px;
  padding-left: 16px;
  font-size: 25px;
}
.option_sub_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.minus_num,
.plus_num {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 29px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}
.contact_info {
  height: 50px;
  width: 100%;
  background: #ebebeb;
  border-radius: 7px;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding-left: 24px;
  pointer-events: none;
  margin-bottom: 10px;
}
.input_tit {
  width: 100%;
  padding-left: 20px;
  font-size: 16px;
  height: 50px;
  border-radius: 7px;
  background: #fff;
}
.input_desc {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
}
.submit_step1 {
  margin-left: auto;
}

// ---------------------- Cơ sở vật chất ----------------
.wrapper_popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
  z-index: 9999;
  top: 0;
  left: 0;
}
.popup_property {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px !important;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
  padding-bottom: 70px;
  transition: 1s;
}

.close_popup {
  position: absolute;
  width: 50px !important;
  height: 50px;
  display: flex;
  right: 0px !important;
  top: 0px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
}
.propperty_add {
  gap: 10px;
}
.property_item {
  width: 32% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent1);
  border-radius: 5px;
  height: 40px;
  font-size: 14px;
  transition: 0.2s;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  &:hover {
    box-shadow: 0px 1px 4px #333;
    transition: 0.2s;
  }
}
.title_popup {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px !important;
  margin-bottom: 10px;
}
.chose,
.chose_faci {
  background-color: var(--bgbutton2);
  box-shadow: 1px 1px 4px #363636;
  opacity: 1;
}

.list_choosing {
  gap: 10px;
  justify-content: space-between;
}
.list_choosing_faci {
  gap: 10px;
  justify-content: flex-start;
}
.item_choosing {
  width: 47% !important;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item_choosing_faci {
  width: 32% !important;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_add_property {
  font-size: 16px;
  display: flex;
  justify-content: stretch;
  align-items: center;
  justify-content: space-between;
  width: fit-content !important;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
  &:hover {
    transition: 0.3s;
    box-shadow: 0 1px 5px #333;
  }
}
.property_delete_all {
  position: absolute;
  width: 200px !important;
  bottom: 10px;
  left: 10px;
  font-size: 15px;
  padding: 10px 40px !important;
  border-radius: 5px;
  background-color: #7e7e7e;
  color: #fff;
  font-weight: 600;
}
.property_ok {
  position: absolute;
  width: 200px !important;
  bottom: 10px;
  right: 10px;
  font-size: 17px;
  padding: 10px 40px !important;
  border-radius: 5px;
  background: var(--bgbutton3);
  color: #fff;
  font-weight: 600;
}
.wrapper_btn_property {
  margin-bottom: 10px;
  padding: 0 !important;
}
.item_property {
  width: 18% !important;
  background: #fff;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 7px 0;
  border-radius: 5px;
  white-space: nowrap;
}

.item_name {
  width: 50%;
  font-size: 13px;
  margin-right: 10px;
  padding: 5px;
  position: relative;
}
.item_name_faci {
  width: 100%;
  font-size: 13px;
  margin-right: 10px;
  padding: 5px;
  position: relative;
  box-shadow: 1px 1px 4px #333;
  border-radius: 5px;
}
.item_quantity {
  width: 20%;
  white-space: nowrap;
  margin-right: 10px;
}
.item_num {
  width: 15%;
  padding: 5px;
}

.item_name,
.item_num {
  border-radius: 5px;
  box-shadow: 1px 1px 4px #818181;
}
.item_num_ren {
  font-size: 16px;
  font-weight: 500;
}
.delete_item {
  width: fit-content;
  position: absolute;
  right: 5px;
  top: 5px;
  height: fit-content;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform: scale(1.3);
    transition: 0.3s;
  }
}
// BTN SHOW MAP
.submit_address {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  border-radius: 5px;
  padding: 7px 15px;
  right: 5px;
  background: #c67e56;
  border: 1px solid #9b9b9b;
  color: #fff;
  font-weight: 600;
}

// ------------------- STEP 2 --------------------

// ---------- Image --------------
.wrapper_list_image {
  width: 100%;
  min-height: 300px;
  height: fit-content;
  background-color: #fff;
  padding: 20px;
  border: 2px dashed #9b9b9b;
  border-radius: 20px;
  position: relative;
}
.image_tooltip {
  width: fit-content;
  position: absolute;
  top: -10px;
  right: -10px;
}
.list_images {
  width: 200px;
  background-color: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.preview_images {
  display: flex;
  column-gap: 15px;
  row-gap: 10px;
  margin: 0 !important;
}
.preview_item {
  width: 22% !important;
  height: 110px;
  position: relative;
  padding: 10px 5px;
  border-radius: 7px;
  box-shadow: 1px 1px 2px #9b9b9b;
  transition: 0.2s ease-in;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 1px 5px #333;
    transition: 0.2s ease-in-out;
  }
}
.preview_img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload_icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  transition: 0.2s ease-in;
  display: none;
  &:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.05);
  }
  &.activate {
    display: block;
  }
}
.ignore_img {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
  }
}

.addmore_image {
  display: none;

  &.activate {
    display: block;
    background: #115ca8;
    width: fit-content;
    font-size: 13px;
    color: #fff;
    padding: 3px 15px;
    border-radius: 3px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}
.script_upload {
  position: absolute;
  top: 70%;
  text-align: center;
  width: 100%;
  left: 0;
  display: none;
  &.activate {
    display: block;
  }
}
.title_upload {
  font-size: 20px;
  margin-bottom: 0;
}
.sub_title_upload {
  font-size: 13px;
}

// video

.video_url {
  width: 100%;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 7px;
  margin-bottom: 10px;
  
}

.iframe_video {
  width: 100%;
  display: none;

  &.activate {
    display: block;
  }
}

.btn_preview_video {
  background: #115ca8;
  width: fit-content;
  font-size: 13px;
  color: #fff;
  padding: 3px 15px;
  border-radius: 3px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-left: auto;
}

